@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    color: black;
}

.App {
    height: 100vh;
    padding: 1rem;
}