.Button {
    font-size: 1.5rem;
    border: 2px solid white;
    padding: .25rem .75rem;
    border-radius: 5px;
    transition: all ease-in-out .1s;

    &:hover {
        background-color: white;
        color: #261132;
    }
    
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
}